h2{
    text-align: center;
}
li{
    float: left;
    display: block;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    list-style-type: none;
}
li a:hover{
    color: black;
}
  ul{
            list-style-type:none;
            margin: 0;
            padding: 0;
            background-color: #07fa07;
            overflow: hidden;
        }
  ul{
            list-style-type:none;
            margin: 0;
            padding: 0;
            background-color: #07fa07;
            overflow: hidden;
        }
        li{
        float: left;
        }
        li a{
            padding: 20px;
            display: block;
            text-decoration: none;
            color: #0a0000;

h2 {
    text-align: center;
    color: #f1022e;
    font-family:"DejaVu Sans";
    font-size: 80px;
}
li a:hover{
    background-color:red;
}